<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
      <!--  <app-big-card 
        photoCover="https://scontent.ffor30-1.fna.fbcdn.net/v/t39.30808-6/324895928_707943417619074_2132939391092169460_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=e3f864&_nc_ohc=EVfAvF3ockcAX_XQXHz&_nc_ht=scontent.ffor30-1.fna&oh=00_AfDsO5FhWkooVzf_prhFvRpg1G5Om3UGHKb-CeJembDcuQ&oe=64505D18"
        cardTitle="CULTO DE CELEBRAÇÃO"
        cardDescription="Deus seja louvado!!"        
        ></app-big-card>
    -->
        <app-big-card 
        photoCover="https://scontent.ffor30-1.fna.fbcdn.net/v/t39.30808-6/342994101_759385625655277_1653982942967684327_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_ohc=cO2gsRJ9zxUAX8SwmGe&_nc_ht=scontent.ffor30-1.fna&oh=00_AfDxtqm6L4R0_DgTbRTOkA32n6KLdSiHqlh5FQACZIRP6g&oe=645169B6"
        cardTitle="VISION DAY!!"
        cardDescription="Mentoria, palavra de alinhamento e adoração ao Senhor!!"        
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
        photoCover="https://scontent.ffor30-1.fna.fbcdn.net/v/t39.30808-6/339128872_1411150666404692_3140498139440576146_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=730e14&_nc_ohc=Pm8GSvWGW1UAX8k5AS-&_nc_ht=scontent.ffor30-1.fna&oh=00_AfAaZbk9s6K1xJhD0EQP5pRgnoSwM3IDoXrNwEdhehyz7Q&oe=6450A734"
        cardTitle="Palavra de Vida Church"
        >

        </app-small-card>
        <app-small-card
        photoCover="https://scontent.ffor30-1.fna.fbcdn.net/v/t39.30808-6/339128872_1411150666404692_3140498139440576146_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=730e14&_nc_ohc=Pm8GSvWGW1UAX8k5AS-&_nc_ht=scontent.ffor30-1.fna&oh=00_AfAaZbk9s6K1xJhD0EQP5pRgnoSwM3IDoXrNwEdhehyz7Q&oe=6450A734"
        cardTitle="Culto Kids!!"
        >

        </app-small-card>
        <app-small-card></app-small-card>
    </div>
</div>
<!--<h1>NOVIDADES</h1>
<hr>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </div>
</div> -->